#Quation;01 Create one variable contaimg following data type.
Answer 01; There are a variable named 'a' 'b' 'c' 'd' in which each type of data conatians and further there is a function 
'type()' for verifying each data type.

1. in a string it is important to wrap the data within "" or '' . and it store all type of the data in form of text.

In [4]:
a= 'string'

In [17]:
type(a)

str

2. A list contains the such data like as numeric, deciamal or in text. it is always mutable.

In [6]:
b=['string',0,12,12.4]

In [7]:
type(b)

list

3. A float veriable contains deciaml values.

In [8]:
c=9.2

In [10]:
type(c)

float

4. tuple is vary similar variable as list. but tiple is immutable while list is mutable. it is a basic difference between them.

In [12]:
d= (8,2,)

In [14]:
type(d)

tuple

Q2; data type of the variables contaning data.
answer;
we can chek the data type of the variable by using single function which is "type()".

In [15]:
var1=''

In [16]:
type(var1)

str

above veriable data type is string as we also see the "" is only use for the string data type.

In [19]:
var2='[DS,ML,Python]'

In [20]:
type(var2)

str

As following data is wraped in '' means it isa string data type.

In [21]:
var3=['DS','ML','Python']

In [22]:
type(var3)

list

above variabe is a list contains the string data type.

In [23]:
var4=1

In [24]:
type(var4)

int

Above data contains numeric value without decimals so it is a integar type of data.

Q3: Explain the use of operators. 
answer; Operators are basically using for the opration amoung the data. Given opreators are explained below.

1. / 
it is a airthmatic opreator called "Division Opreators" it gives the division value even in decimales.ex;

In [25]:
120/13

9.23076923076923

2. %
it is also a modulas opreator.it is a percantage opreator in mathamatices but here it has work in a different way. it given the remainder for two numbers,when they are divided.Ex;

In [26]:
12%5

2

3.//
it is similar to the division opreator but the basic difference between them, that it just print the non decimal value.thats why it is called the floar division or integar divison.Ex;

In [27]:
120//13

9

4.**
it print the power of the number. ex; 2**3= 2*2*2=8

In [28]:
2**3

8

Q4.a list length of 10 containg multiple type of data.using the loop print element and its data type

In [1]:
list=[12,'rahul', 12.44, 0.33,11,'rohit',7,'eight','kumar',11]

In [4]:
for i in list:
    print(i)
    print(type(i))

12
<class 'int'>
rahul
<class 'str'>
12.44
<class 'float'>
0.33
<class 'float'>
11
<class 'int'>
rohit
<class 'str'>
7
<class 'int'>
eight
<class 'str'>
kumar
<class 'str'>
11
<class 'int'>

Q5; Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible?
Answer;
The number A is divisible by b times.

In [45]:
A=6
B=3

while A%B==0:
    A=A/B
    count+=1
    print('the number a can be divided b times')

the number a can be divided b times

Q.6 A list containing 25 int type data. Using for loop if else condtion print if the element is divisible by 3 or not

In [44]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [25]:
for i in numbers:
    if i%3==0:
         print('Number is divisible by 3')
    else:
         print('Number is not divisible by 3')

Number is not divisible by 3
Number is not divisible by 3
Number is divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is divisible by 3
Number is not divisible by 3
Number is not divisible by 3
Number is divisible by 3
Number is not divisible by 3

Q7; My understanding with mutable and immutable data types and there examples.
answer;
In a mutable data type we can change it from it's variable like list and in immutable data type such opreations are not applicable . It means in the immutable data type we can't change the data from the veriable. If we want to change the data we have to creat a new variable for that like string and tuple. Even somhow it is the reson behind the existance of 'tuple' which is immutable.

In [32]:
list=[23,34,'ram','shyam']

In [35]:
list[1]=4000256

In [36]:
list

[23, 4000256, 'ram', 'shyam']

it is exicuted nicely which means it is mutable

In [38]:
s='data science is a good course'

In [39]:
s[4]= 'bad'

TypeError: 'str' object does not support item assignment

TypeError shows: 'str' object does not support item assigmnet. it means it(string) is always immutable.